.herosection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 65px 4% 0 4%;
}
.herocontainer{
    width: 100vw;
    height: 31vh;
    border-radius: 20px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.youtubecontainer {
	overflow: hidden;
	width: 100%;
	/* Keep it the right aspect-ratio */
	aspect-ratio: 16/9;
	/* No clicking/hover effects */
	pointer-events: none;
}
.youtubecontainer iframe{
		/* Extend it beyond the viewport... */
		width: 300%;
		height: 100%;
		/* ...and bring it back again */
		margin-left: -100%;
}
.herodescription{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

@media(max-width:768px){
    .herodescription{
        display: none;
    }
}


.mobileinfo{
    position: absolute;
    bottom: 50%;
}